body {
    margin: 20px 0 20px 0;
    color: #444;
    font-family: Georgia, "DejaVu Serif", Norasi, serif;
    line-height: 14px;
    font-size: 12px;
}

h1 {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
}

h2 {
    font-size: 16px;
    line-height: 19px;
    font-style: italic;
    font-weight: normal;
}

h3 {
    font-family: Verdana,"DejaVu Sans","Bitstream Vera Sans",Geneva,sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

li {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
}

a[href]:after {
  content: "";
}


.page-break {
    page-break-after: always;
}

.page-break-auto {
    page-break-after: auto;
}

.body {
    background-color: #f5f5f5;
    padding: 20px;
    border-top: 4px solid #666666;
    border-bottom: 2px solid #666666;
}

.technologies-list {
    padding: 5px 0 5px 0;
}

.separator hr {
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 10px 0 10px 0;
}

.show-in-print-mode {
    display: inline;
}