body {
    margin: 90px 0 90px 0;
    color: #444;
    font-family: Georgia, "DejaVu Serif", Norasi, serif;
    line-height: 20px;
    font-size: 14px;
}

h1 {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
    font-weight: normal;
    text-transform: uppercase;
}

h2 {
    font-size: 19px;
    line-height: 19px;
    font-style: italic;
    font-weight: normal;
}

h3 {
    font-family: Verdana,"DejaVu Sans","Bitstream Vera Sans",Geneva,sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}

a {
    color: #660003;
    text-decoration: none;
}

a:visited {
    color: #660003;
    text-decoration: none;
}

table {
    width: 100%;
}

table th {
    text-align: left;
}

ul, p {
    margin-bottom: 20px;
}

.body {
    background-color: #f5f5f5;
    padding: 32px;
    border-top: 8px solid #666666;
    border-bottom: 4px solid #666666;
}

.no-bullets {
    list-style: none;
}

.lead {
    font-size: 16px;
    line-height: 20px;
}

.lead-subtitle {
    font-size: 17px;
    line-height: 17px;
    font-style: italic;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #444;
}

.discrete {
    color: #444 !important;
}

.technologies-list {
    padding: 20px 0 20px 0;
}

.technologies h3 {
    font-size: 16px;
}

.formation,
.job header {
    position: relative;
}

.periode {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
}

.separator {
    position: relative;
}

.separator div {
    text-align: center;
}

.separator .anchor-padding {
    padding-right: 20px;
}

.separator .anchor {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f5f5f5;
    background-image: url("../images/link_16.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    height: 16px;
    margin-top: -8px;
    width: 16px;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.5s;
    -moz-transition-property: opacity;
    -moz-transition-timing-function: linear;
    display: block;
    opacity: 0.1;
    position: absolute;
    top: 41px;
    right: 0;
}

.separator .anchor:hover {
    opacity: 0.75;
}

.separator hr {
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 40px 0 30px 0;
}

.show-in-print-mode {
    display: none;
}
