# -*- coding: utf-8 -*-
<%page args="enable_anchor=True, media='screen'" />
<%def name="page_break()">
<div class="page-break"></div>
</%def>
<%def name="separator(link=None)">
<div class="row-fluid separator">
    % if (enable_anchor) and (link is not None):
        <div class="span12 anchor-padding">
            <hr>
        </div>

        <a class="anchor" id="${link}" href="#${link}"></a>
    % else:
        <div class="span12">
            <hr>
        </div>
    % endif
</div>
</%def>
<%!
metas = {
    'name': 'Olivier Kautz',
    'craft': u'Développeur web',
    'mail': 'olivier@k3z.fr',
    'web': 'www.k3z.fr',
    'phone': '33681497861',
    'phone_formated': '(+33) 6 81 49 78 61',
}

%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Curriculum vitæ de ${ metas['name'] } | CV | ${ metas['craft'] }</title>
    <meta name="description" content="Curriculum vitæ de ${ metas['name'] }" />
    <meta name="author" content="${ metas['name'] }" />
    <link rel="author" href="humans.txt" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="assets/components/bootstrap-assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/print.css" media="print" />
    <link href="assets/components/bootstrap-assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
      <![endif]-->

  </head>

  <body>
    <div class="container body">

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8">
                    <h1>
                        ${ metas['name'] }<br>
                    </h1>
                    <small class="lead-subtitle">
                        ${ metas['craft'] }
                    </small>
                </div>
                <div class="span4">
                    <div id="contact-info" class="text-right">
                        <ul class="no-bullets">
                            <li>
                                42 ans, marié, 1 enfant<br />
                                non-fumeur, réside à
                                <a href="http://fr.wikipedia.org/wiki/Metz">Metz</a>
                            </li>
                            <li>
                                <a href="mailto:${ metas['mail'] }">${ metas['mail'] }</a>
                            </li>
                            <li><a href="http://${ metas['web'] }">http://${ metas['web'] }</a></li>
                            <li><a href="tel:${ metas['phone'] }">${ metas['phone_formated'] }</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            ${separator('profil')}

            <div class="row-fluid">
                <div class="span3">
                    <h2>
                        Profil
                    </h2>
                </div>
                <div class="span9">
                    <p class="lead">
                        18 ans d’expérience en développement web et plus récemment en administration système.<br />
                        Spécialisé dans les technologies libres et open source,
                        je dispose d’une solide expérience dans les technologies du Web,
                        de compétences en commerce et en gestion de projets. <br>
                        J’ai géré pendant 12 ans l’agence isWebdesign à Metz.<br />
                        Passionné, je pratique une veille constante des technologiques.
                    </p>
                </div>
            </div>

            ${separator('competences')}

            <div class="row-fluid">
                <div class="span3">
                    <h2>
                        Compétences
                    </h2>
                </div>
                <div class="span9">
                    <article>
                        <h3 title="Compétences en développement">Développement</h3>

                        <p>
                            Fortes compétences en développement d’applications web, basées sur les langages
                            <a href="http://fr.wikipedia.org/wiki/Php">Php</a>
                            et <a href="http://fr.wikipedia.org/wiki/Python_%28langage%29">Python</a>.<br>
                            Appliqué à créer des interfaces web riches, ergonomiques et design.
                            <br />
                            Très bonne maîtrise des
                            <a href="http://fr.wikipedia.org/wiki/Standard_du_Web">standards du web</a> : HTML, CSS, Javascript.<br />
                            Bonne compétence en
                            <a href="http://fr.wikipedia.org/wiki/Frameworks">Frameworks web</a>
                            et <a href="http://fr.wikipedia.org/wiki/Base_de_donn%C3%A9es_relationnelle">base de données relationnelle</a>
                            ainsi que dans l’utilisation de certains
                            <a href="http://fr.wikipedia.org/wiki/Mapping_objet-relationnel">ORM</a>.
                            <br />
                            Adepte <a href="http://fr.wikipedia.org/wiki/M%C3%A9thode_agile">des méthodes agiles</a>.<br />
                        </p>
                    </article>

                    <article>
                        <h3 title="Compétences en Administration Système">Administration Système</h3>

                        <p>
                            Administrateur de systèmes d’exploitations
                            <a href="http://fr.wikipedia.org/wiki/Gnu/Linux">GNU/Linux</a>,
                            principalement <a href="http://fr.wikipedia.org/wiki/Debian">Debian</a>.<br />
                            Maintenance de serveurs : HTTP, mails, DNS, bases de données…
                        </p>
                    </article>

                    <article>
                        <h3 title="Compétences en Gestion de projets">Commerciales, Gestion de projets</h3>

                        <p>
                            Élaboration de cahiers des charges et de devis,
                            choix d’architecture de logiciels.<br />
                            Connaissance des mécanismes pour rédiger une réponse à un appel d’offre public.<br>
                            Recherche de solutions pour traduire un besoin client en outils concrets.<br>
                            Suivi de projets, support client.<br>
                            Bonne relation clients.
                        </p>
                    </article>
                </div>
            </div>

            ${separator('technologies')}

            <div class="row-fluid page-break-auto">
                <div class="span3">
                    <h2>
                        Technologies
                    </h2>
                </div>
                <div class="span9">
                    <h3>Langages de programmation</h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Php">Php</a>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Python">Python</a>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Javascript">Javascript</a>
                        </div>
                        <div class="span6">
                            <a href="http://fr.wikipedia.org/wiki/Bourne-Again_shell">Bash</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <h3>Bases de données</h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/SQL">SQL</a>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Mysql">Mysql</a>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Postgresql">PostgreSQL</a>
                        </div>
                        <div class="span6">
                            <a href="http://fr.wikipedia.org/wiki/SQLite">SQLite</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <h3>Moteurs de recherches</h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Xapian">Xapian</a>
                        </div>
                        <div class="span10">
                            <a href="http://packages.python.org/Whoosh/">Whoosh</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">


                    <h3>Tests</h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://docs.python.org/library/unittest.html">unittest</a>
                        </div>
                        <div class="span2">
                            <a href="http://readthedocs.org/docs/nose/en/latest/">Nose</a>
                        </div>
                        <div class="span8">
                            <a href="https://github.com/sebastianbergmann/phpunit/#phpunit">PHPUnit</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <h3><a class="discrete" href="http://fr.wikipedia.org/wiki/Standard_du_Web">Standards du web</a></h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Html">XHTML</a>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Html">HTML4/5</a>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Feuilles_de_style_en_cascade">CSS</a> <em>v2, v3</em>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Document_Object_Model">DOM</a>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Svg">SVG</a>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Canvas_%28HTML%29">Canvas</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">


                    <h3>
                        <a class="discrete" href="http://fr.wikipedia.org/wiki/Format_de_donn%C3%A9es">
                            Formats de données
                        </a>
                    </h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Json">JSON</a>
                        </div>
                        <div class="span2">
                            <a href="#">XML</a>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Yaml">Yaml</a>
                        </div>
                        <div class="span6">
                            <a href="http://fr.wikipedia.org/wiki/Comma-separated_values">CSV</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <h3>
                        <a class="discrete" href="http://fr.wikipedia.org/wiki/Standard_du_Web">
                            Librairies Javascript, Assets
                        </a>
                    </h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Jquery">jQuery</a>
                        </div>
                        <div class="span2">
                            <a href="http://emberjs.com/">EmberJs</a>
                        </div>
                        <div class="span2">
                            <a href="http://sass-lang.com/">Saas/scss</a>
                        </div>
                        <div class="span2">
                            <a href="http://lesscss.org/">LessCSS</a>
                        </div>
                        <div class="span4">
                            <a href="https://github.com/twitter/bower">Bower</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <h3>
                        <a class="discrete" href="http://fr.wikipedia.org/wiki/Syst%C3%A8me_de_gestion_de_versions">
                            Système de gestion de versions
                        </a>
                    </h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Apache_Subversion">Subversion</a>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Mercurial">Mercurial</a>
                        </div>
                        <div class="span8">
                            <a href="http://fr.wikipedia.org/wiki/Git">Git</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <h3>
                        <a class="discrete" href="http://fr.wikipedia.org/wiki/Standard_du_Web">
                            Frameworks PHP, CMS
                        </a>
                    </h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://symfony.com/">Symfony2</a>
                        </div>
                        <div class="span2">
                            <a href="http://four.laravel.com/">Laravel4</a>
                        </div>
                        <div class="span2">
                            <a href="http://drupalfrance.com/">Drupal</a>
                        </div>
                        <div class="span2">
                            <a href="http://fr.wordpress.com/">Wordpress</a>
                        </div>
                        <div class="span4">
                            <a href="http://twig.sensiolabs.org/">Twig</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <h3>
                        <a class="discrete" href="http://fr.wikipedia.org/wiki/Standard_du_Web">
                            Librairies, Frameworks Python
                        </a>
                    </h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://en.wikipedia.org/wiki/Pylons_%28web_framework%29">Pylons</a>
                        </div>
                        <div class="span2">
                            <a href="http://en.wikipedia.org/wiki/Pyramid_%28web_framework%29">Pyramid</a>
                        </div>
                        <div class="span2">
                            <a href="http://en.wikipedia.org/wiki/SQLAlchemy">SQLAlchemy</a>
                        </div>
                        <div class="span2">
                            <a href="http://www.makotemplates.org/">Mako</a>
                        </div>
                        <div class="span4">
                            <a href="http://jinja.pocoo.org/docs/">Jinja2</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <h3>Systèmes d’exploitation</h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://en.wikipedia.org/wiki/Debian">Debian</a>
                        </div>
                        <div class="span2">
                            <a href="http://en.wikipedia.org/wiki/Ubuntu_%28operating_system%29">Ubuntu</a>
                        </div>
                        <div class="span2">
                            <a href="http://en.wikipedia.org/wiki/Macosx">Mac OSX</a>
                        </div>
                        <div class="span4">
                            <a href="http://en.wikipedia.org/wiki/Ms_windows">MS Windows</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <h3><a class="discrete" href="http://fr.wikipedia.org/wiki/Virtualisation">Virtualisation</a></h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://www.vagrantup.com/">Vagrant</a>
                        </div>
                        <div class="span2">
                            <a href="http://en.wikipedia.org/wiki/Virtualbox">Virtualbox</a>
                        </div>
                        <div class="span2">
                            <a href="http://en.wikipedia.org/wiki/Vmware">VMware</a>
                        </div>
                        <div class="span2">
                            <a href="http://docs.fabfile.org/en/1.4.3/">Fabric</a>
                        </div>
                        <div class="span4">
                            <a href="http://fabtools.readthedocs.org/en/0.13.0/">Fabtools</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <h3><a class="discrete" href="http://fr.wikipedia.org/wiki/Serveur_web">Serveurs Web</a></h3>

                    <div class="row-fluid technologies-list">
                        <div class="span2">
                            <a href="http://fr.wikipedia.org/wiki/Apache">Apache 2</a>
                        </div>
                        <div class="span10">
                            <a href="http://fr.wikipedia.org/wiki/Nginx">nginx</a>
                        </div>
                    </div>
                </div>
            </div>

            ${separator('experience')}
            ${page_break()}

            <div class="row-fluid page-break-auto">
                <div class="span3">
                    <h2>
                        Expérience
                    </h2>
                </div>
                <div class="span9">
                    <article class="job">
                        <header>
                            <h3><a class="discrete" href="http://www.is-webdesign.com">isWebdesign/Neftis</a></h3>
                            <p class="subtitle">
                                Développeur senior, Relation client
                            </p>
                            <p
                                class="periode">Depuis Juillet 2012
                            </p>
                        </header>

                        <p>
                            Suite au rachat de la société, j’occupe maintenant un poste de développeur senior au sein de la société isWebdesign/Neftis.
                        </p>
                    </article><!-- experience -->

                    ${separator("isWebdesign")}

                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <article class="job">
                        <header>
                            <h3><a class="discrete" href="http://www.is-webdesign.com">isWebdesign</a></h3>
                            <p class="subtitle">
                                Gérant, Responsable du développement, Relation client, Commercial
                            </p>
                            <p
                                class="periode">Mars 2000 - Juillet 2012
                            </p>
                        </header>

                        <p>
                            <a href="http://www.is-webdesign.com">isWebdesign</a>
                            est une <a href="http://fr.wikipedia.org/wiki/Web_agency">agence web</a> située en
                            <a href="http://fr.wikipedia.org/wiki/Lorraine">Lorraine</a>, spécialisée dans
                            la création de sites Internet, d’applications web au service des entreprises, des collectivités et
                            des associations.<br />
                            Elle regroupe plusieurs pôles de compétences : l’expertise et le conseil en matière de communication
                            numérique, la conception et la réalisation de sites plurimédias, la conception d’applications web,
                            la formation à l’usage des CMS et des technologies du Web, la maintenance de site et de
                            l’hébergement sur mesure.
                            % if enable_extended_cv_links:
                            <em><a href="../extended/#work-experiences-iswebdesign">En savoir plus…</a></em>
                            % endif
                        </p>

                        <p>Quelques-uns de mes projets :</p>

                        <ul>
                            <li>
                                Developpeur principal du CMS isManager orienté vers la mise à jour des contenus par le client,
                                intégrant les composants suivants : éditeur RTE, gestion des médias, intégration Google Maps,
                                création de formulaires, recadrage d’images, module de création de diaporamas
                                et de nombreux modules pour la gestion de catalogues, de services.
                            </li>
                            <li>
                                Développement de nombreux sites pour les collectivités locales et territoriales (Villes, Communautés d’agglomération, Communautés de communes, Syndicats mixtes). <br>
                                Développement de services spécifiques : demandes d’actes, extranets élus.
                            </li>
                            <li>
                                Développement de serious games en flash pour d’importants musées de la capitale, de Haute-Alsace
                                ainsi que pour des administrations locales.
                            </li>
                            <li>
                                Développement de nombreux sites pour des ordres ou des associations médicales,
                                dont un site permettant la régulation des patients vers des médecins de garde.
                            </li>
                        </ul>

                        <p>Autres fonctions</p>

                        <ul>
                            <li>
                                Configuration de serveurs d’hébergement LAMP et Python, serveurs DNS sous
                                <a href="http://fr.wikipedia.org/wiki/Linux-VServer">Linux-VServeur</a>
                            </li>
                            <li>
                                Autres fonctions : étude avant ventes, réalisation de cahiers des charges, préparation
                                du contenu d’offres, présentation des projets aux clients, support technique.
                            </li>
                        </ul>
                    </article><!-- experience -->

                    ${separator("ktp_concept")}

                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                </div>
                <div class="span9">

                    <article class="job">
                        <header>
                            <h3><a class="discrete" href="http://www.ktp.net/">KTP Concept</a></h3>
                            <p class="subtitle">
                                Développeur, Responsable technique, associé
                            </p>
                            <p class="periode">
                                1997 - 2000
                            </p>
                        </header>

                        <p>
                            <a href="http://www.ktp.net">KTP Concept</a>
                            est une <a href="http://fr.wikipedia.org/wiki/Web_agency">agence web</a>
                            de moins d’une dizaine de salariés.
                            <br />
                            Création de solutions web : sites Internet, Intranet…
                        </p>
                        <p>
                            Mes différentes fonctions dans cette entreprise :
                        </p>
                        <ul>
                            <li>
                                Développement et suivi de la réalisation de diverses applications Internet telles que :
                                moteur de recherche, site d’emploi, commerce électronique
                                (catalogue entièrement administrable).
                                <br />
                                Création d’un premier outil de mise à jour administrable pas les clients.
                                Analyse des besoins, réalisation de cahiers des charges, choix des solutions techniques,
                                déploiement, assistance…
                                <br />
                                Différents outils/langages utilisés au cours des différents développements : HTML, CSS,
                                Javascript, Php, Perl, MySQL, MS Access.
                            </li>
                            <li>
                                Administration de plus de 40 sites web: déploiement des sites, la gestion
                                des bases de données, des noms de domaines et des comptes mails. Assistance
                                auprès des clients sur site ou à distance.
                            </li>
                        </ul>
                    </article>

                    ${separator("interact")}

                </div>
            </div>

            <div class="row-fluid page-break-auto">
                <div class="span3">
                    <h2 class="show-in-print-mode">
                        Expérience
                    </h2>
                </div>
                <div class="span9">

                     <article class="job">
                        <header>
                            <h3>Interact</h3>
                            <p class="subtitle">Développeur, Responsable technique</p>
                            <p class="periode">1996 - 1997</p>
                        </header>

                        <p><a href="http://www.ktp.net">Interact</a> fut une des premières <a
                        href="http://fr.wikipedia.org/wiki/Web_agency">agences web</a> messines d’importance.<br />
                        Création de solution web : sites Internet, sites évènementiels.</p>

                        <p>Mes différentes fonctions dans cette entreprise :</p>

                        <ul>
                            <li>
                                Développement et suivi de la réalisation de sites Internets dont notoirement,
                                la réalisation du premier site officiel de CharlÉlie Couture.
                                Site d’artiste intégrant beaucoup d’interactivité
                                (utilisation créative de popups, création de gifs animés, intégration de pastilles sonores avec Real Audio).

                                Différents outils/langages utilisés au cours des différents développements : HTML, CSS,
                                Javascript, Photosphop, Frontpage.
                            </li>
                            <li>
                                Assistance auprès des clients sur site ou à distance.
                            </li>
                        </ul>
                    </article>
                </div>
            </div>

            ${separator('formations')}

            <div class="row-fluid page-break-auto">
                <div class="span3">
                    <h2>
                        Formations
                    </h2>
                </div>
                <div class="span9">
                    <article class="formation">
                        <h3>Baccalauréat A2 Lettres et Langues</h3>
                        <p>Options Philosophie, allemand, anglais, espagnol</p>
                        <p class="periode">1990</p>
                    </article>
                </div>
            </div>

            ${separator('langues')}

            <div class="row-fluid page-break-auto">
                <div class="span3">
                    <h2>
                        Langues
                    </h2>
                </div>
                <div class="span9">
                    <article>
                        <h3>Anglais</h3>

                        <p>
                            Lu, écrit, parlé.
                            Bonne compréhension orale, autonome dans la lecture et la rédaction de documentations techniques,
                            échanges de mails…<br />
                        </p>
                    </article>
                    <article>
                        <h3>Allemand</h3>

                        <p>
                            Lu, écrit, parlé. <br />
                        </p>
                    </article>
                </div>
            </div>

            ${separator('centres-d-interet')}

            <div class="row-fluid page-break-auto">
                <div class="span3">
                    <h2>
                        Centres d’intérêt
                    </h2>
                </div>
                <div class="span9">
                    <article>
                        <h3>Pratique sportive</h3>

                        <ul>
                            <li>
                                Pratique régulière de la course à pied depuis 3 ans.
                            </li>
                        </ul>
                    </article>

                    <article>
                        <h3>Lectures, curiosités</h3>

                        <ul>
                            <li>
                                Je suis très curieux, j’aime étudier la littérature, la philosophie,
                                la politique, l’économie, l’écologie…
                            </li>
                            <li>
                                Passionné par les technologies, l’interactivité, le design graphique,
                                le mouvement DIY et les communautés des logiciels libres.
                            </li>

                            <li>
                                J’aime faire la cuisine à partir de produits frais et bio
                                et partager mes expérimentations avec des amis.
                            </li>
                        </ul>
                    </article>
                </div>
            </div>

            ${separator('footer')}

            <div class="row-fluid page-break-auto">
                <div class="span12">

                    <p class="text-center">
                        <a
                            rel="author"
                            href="http://${ metas['web'] }"
                            >${ metas['name'] }</a> &mdash;
                        <a
                            rel="author"
                            href="mailto:${ metas['mail'] }"
                            >${ metas['mail'] }</a> &mdash;
                        <a
                            rel="author"
                            href="tel:${ metas['phone'] }"
                            >${ metas['phone_formated'] }</a>
                    </p>

                </div>
            </div>
        </div>


    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <%include file="includes/google_analytics.html" />
</body>
</html>
